<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxAD9zolKp71ICUjJYRwoGT8K6tGrh8gU</string>
	<key>GCM_SENDER_ID</key>
	<string>5010735255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Provision.shopTec</string>
	<key>PROJECT_ID</key>
	<string>provisiontec-2761f</string>
	<key>STORAGE_BUCKET</key>
	<string>provisiontec-2761f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5010735255:ios:c8c918f63846e9e3f129d2</string>
</dict>
</plist>